* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  position: relative;
  background-color: black;
  color: white;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.bi-cart2 {
  background-color: white;
  color: #212529;
  padding: 5px;
  border-radius: 5px;
  font-size: 22px;
}
.count {
  color: red;
  background-color: red;
  color: white;
  position: absolute;
  top: -2px;
  right: 26px;
  font-size: 18px;
}
.container {
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(4, 220px);
}
@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 220px);
  }
}
@media (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 220px);
  }
}
.item {
  border: 2px solid black;
}
.title {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.desc {
  margin-bottom: 10px;
  padding: 5px;
}
.price-count {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.bi-dash-lg {
  color: red;
}
.bi-plus-lg {
  color: green;
}
